@import url('https://fonts.googleapis.com/css2?family=Ubuntu');

:root {
	--color-black: #000;
	--color-hyacinthlight: #9ea3f3;
	--color-hyacinth: #827ffe;
	--color-sunflower: #df6d26;
}

body {
	background: var(--color-hyacinth);

	/* background: lavender; */
}

.container {
	margin: 100px auto;
	box-sizing: border-box;
	max-width: 500px;
	background: #fff;
	/* background: powderblue; */
	border-radius: 1.2rem;
}

.SignUp_In {
	width: 275px;
	margin: auto;
	padding: 10px;
}

.SignUp_In .title h2 {
	letter-spacing: 3px;
	text-transform: uppercase;
	margin: 2.3rem;
}

.form-item {
	/* width: 100%; */
	position: relative;
}

input[type='text'],
input[type='email'],
input[type='password'] {
	width: 100%;
	border: none;
	outline: none;
	background: transparent;
	border-bottom: 1.5px solid lightslategray;
	margin-bottom: 2rem;
	padding: 3px 3px 3px 25px;
	letter-spacing: 0.5px;
	/* text-transform: uppercase; */
	box-sizing: border-box;
}

.form-item .fa-solid {
	position: absolute;
	top: 2px;
	left: 0;
}
.chBox {
	/* margin-bottom: 2rem; */
	/* position: relative; */
}

.chkContainer {
	display: block;
	position: relative;
	margin-bottom: 2rem;
	cursor: pointer;
	user-select: none;
	font-size: 15px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	letter-spacing: 0.5px;

	/* background: red; */
}

.chkContainer input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.checkmark {
	position: absolute;
	top: 0;
	left: 57px;
	height: 10px;
	width: 10px;
	display: grid;
	place-content: center;
	/* background-color: red; */
	border: 3px solid grey;
}

.chkContainer:hover input ~ .checkmark {
	background-color: #eee;
}

.checkmark::after {
	content: '';
	width: 8px;
	height: 8px;
	transform: scale(0);
	/* background: #fff; */
	transition: 120ms transform ease-in-out;
	box-shadow: inset 15px 15px var(--color-hyacinth);
}

.chkContainer input:checked ~ .checkmark::after {
	transform: scale(1);
}

.form-item button {
	width: 100%;
	margin-bottom: 2rem;
	outline: none;
	border-radius: 1.5rem;
	padding: 10px;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	border: none;
	background: var(--color-hyacinth);
	color: #fff;
	font-size: 15px;
	cursor: pointer;
	box-shadow: 5px 7px 7px #888888;
}
.form-item button:hover {
	background: var(--color-hyacinthlight);
}

.btn .fa-solid {
	position: absolute;
	left: 175px;
	top: 10px;
	color: #fff;
	cursor: pointer;
}
